<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Crypted password:</b>
  <%= @user.crypted_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<<<<<<< HEAD
<p>
  <b>Avatar:</b>
  <%= @user.avatar %>
</p>

<p>
  <b>Score:</b>
  <%= @user.score %>
</p>

=======
>>>>>>> 55ac9abb6d21265feb05f9791e7f7443386769fd

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
